.accordian-wrapper {
  position: relative;
  margin: 0 auto;
  margin-bottom: 15px;
  border-radius: 10px;
  width: 1200px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.accordian-wrapper a {
  font-size: 17px;
  font-weight: 600;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 15px;
  border-radius: 10px;
}

.accordian-toggle {
  background-color: white;
  height: 20px;
  display: block;
  z-index: 10;
}

.accordian-toggle::before {
  content: "";
  width: 10px;
  height: 3px;
  background-color: #fdcb6e;
  position: absolute;
  right: 30px;
  transform: rotate(45deg);
}

.accordian-toggle::after {
  content: "";
  width: 10px;
  height: 3px;
  background-color: #fdcb6e;
  position: absolute;
  right: 25px;
  transform: rotate(135deg);
}

.accordian-content {
  display: flex;
  align-items: center;
  z-index: -10;
  transition: all 0.2s ease-in-out;
  width: 100%;
  padding-left: 15px;
  border-radius: 10px;
  background-color: #ffeaa7;
  max-height: 0;
  overflow: hidden;
  padding: 0 20px;
  line-height: 30px;
}

.accordian-content.active {
  max-height: 500px;
  padding: 20px;
}
